<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Наші контакти</title>
</head>
<body>
    <header>
        <h1>Контакти</h1>
    </header>

    <div class="content">
        <div class="info">
            <p><strong>Адреса:</strong> вул. Центральна, 15, м. Київ, Україна</p>
            <p><strong>Телефон:</strong> +38 (044) 123-45-67</p>
            <p><strong>Email:</strong> info@veselka-park.ua</p>
            <p><strong>Графік роботи:</strong> Щодня з 10:00 до 21:00</p>
            <p><strong>Соціальні мережі:</strong><br>
                <a href="#">Facebook</a> |
                <a href="#">Instagram</a> |
                <a href="#">TikTok</a>
            </p>
        </div>

    </div>

    <footer>
        &copy; 2025 Парк розваг «Веселка». Всі права захищено.
    </footer>
</body>
</html>