<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/styless.css' %}">
<head>
    <meta charset="UTF-8">
    <title>{% block tittle %}{% endblock %}</title>
</head>
<body>

    <a href="{% url 'main_page' %}"><img style="width:100px" src="{% static 'main/img/amusement_park_logo.jpg' %}"></a>
    <a href="{% url 'contacts' %}">Наші контакти</a>
    <a href="{% url 'prices' %}">Наші ціни</a>
    <a href="{% url 'attractions' %}">Наші атракціони</a>
    <a href="{% url 'about' %}">Про нас</a>
    {% block content %}
    {% endblock %}
</body>
<footer>
    <p>© 2025 Парк розваг. Усі права захищені.</p>
</footer>
</html>