{% extends "layout_admin.html" %}
{% block title%}Керування атракціонами{% endblock %}
{% block content %}

<br>
<br>
<a href="{% url 'add_attraction' %}">Додати атракціон</a>
<br>

<table>
    <tr>
        <th>№</th>
        <th>Назва</th>
        <th>Час</th>
        <th>Мінімальний вік</th>
        <th>Зона розташування</th>
        <th>Примітки</th>
    </tr>
    {% for i in all_attractions %}
    <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.time }}</td>
        <td>{{ i.min_age }}</td>
        <td>{{ i.zone }}</td>
        <td>
            <a href="{% url 'detail_view' i.id %}">Детальніше</a>
        </td>
     </tr>
    {% endfor %}
</table>
<br>
<br>
<a href=".">Назад</a>
<br>

{% endblock %}